@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  max-width: 35%;
  max-height: 50%;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
}

.box-content-header {
  border-bottom: 1px solid #B9B9B9;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-left: 5px;
}

.box-content-info {
  padding: 3px;
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300px;
}

.box-content-info-location {
  display: flex;
  height: 25px;
  align-items: center;
  font-weight: 600;
}

.box-content-info-location-pin {
  height: 100%;
}

h2 {
  font-weight: bold;
  font-size: 0.9em;
}

.box-content-info-contact ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  gap: 5px;
  width: max-content;
}

.box-content-info-contact ul li button {
  border: 1px solid #B9B9B9;
  border-radius: 10px;
  height: 35px;
  padding: 5px;
  font-weight: 700;
  font-family: 'Raleway';
}

.box-content-info-contact ul li button img {
  height: 100%;
}

.box-content-info-contact ul li button:hover {
  cursor: pointer;
  background-color: #dedede;
}



.box-content-info-skills ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  gap: 5px;
  width: max-content;
  font-size: 0.9em;
}

.box-content-info-skills ul li {
  border: 1px solid #B9B9B9;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

  /* first */
  p {
    font-size: 0.75em;
  }

  .box-content-info-skills ul li {
    font-size: 0.6em;
  }

  .box-content-info-contact ul li button {
    height: 25px;
  }

  h2 {
    font-size: 0.7em;
  }

  .box-content-info-location {
    font-size: 0.9em;
    height: 15px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

  /* second */

  p {
    font-size: 0.56em;
  }


  .box-content-info-skills ul li {
    font-size: 0.6em;
  }

  .box-content-info-contact ul li button {
    height: 25px;
  }

  h2 {
    font-size: 0.7em;
  }

  .box-content-info-location {
    font-size: 1em;
    height: 15px;
  }
}

@media only screen and (max-width: 479px) {
  /* third */

  main {
    min-width: 80%;
  }

  p {
    font-size: 0.43em;
  }


  .box-content-info-skills ul li {
    font-size: 0.5em;
  }

  .box-content-info-contact ul li button {
    height: 24px;
  }

  h2 {
    font-size: 0.5em;
  }

  .box-content-info-location {
    font-size: 0.7em;
    height: 15px;
  }

  h1 {
    font-size: 1.5em;
  }
}